
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full_box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: beige;
    align-items: center;
    /*justify-content: center;*/
}
.from{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 99, 71, 0.4);
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
}
.input_box{
    height: 40px;
}
.list{
    margin-top: 20px;
}
.list h1{
    text-align: center;
}
.result {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #fff3;
    padding: 10px;
    border-radius: 8px;
}


.btnDone{
    background-color: green;
    border: 2px solid darkred;
    /*display: none;*/
}