

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /*transform: translate(-50%,-50%);*/
}
.submit_button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid darkslategray;
    /*outline: 2px;*/
    color: darkblue;
}
h1{
    font-size: 50px;
}



