

.nain_div{
	display: flex;
	background: rgb(75, 94, 190);
	/* box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3), 15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1), 25px 25px rgba(0, 98, 90, 0.05); */
	box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

@media screen and (max-width: 600px) {

	.nain_div{
		flex-direction: column;
		background: rgb(185, 25, 155);
	}
}