


body{
    height: 100vh;
    width: 100%;
    position: relative;
}

.clicke{
    /*background-color: orange;*/
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    animation: anymite 5s forwards;

}

@keyframes anymite {
    0%{
        opacity: 1;
        transform: scale(1);
    }

    100%{
        transform: scale(3);
        opacity: 0;
    }
}




